ADMIN_LOGIN=admin
ADMIN_PASSWORD_HASH=your_scrypt_hash_here
TG_API_SERVER=https://api.telegram.org
SECRET_KEY=your_secret_key_here
BOT_TOKEN=your_bot_token_here
RW_API_KEY=your_remnawave_api_key_here
ADMIN_TG_ID=your_telegram_id_here
PLATEGA_PROJECT_ID=your_platega_project_id_here
PLATEGA_SECRET_KEY=your_platega_secret_key_here
ADMIN_GROUP_ID=your_admin_group_id_here
